<script src="https://use.fontawesome.com/0d653db34b.js"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">BioViz</a>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="cursorpointer">
                    <a href="overview.html">Overview</a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle cursorpointer">Learn More<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="cursorpointer">
                            <a href="https://wiki.transvar.org/display/igbman/Home" target="_blank">User's Guide</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="news.html">IGB news</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="cite.html">How to cite IGB</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="https://www.youtube.com/channel/UC0DA2d3YdbQ55ljkRKHRBkg" target="_blank">Video tutorials</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="credits.html">Credits</a>
                        </li>
                    </ul>
                </li>
                <li class="cursorpointer">
                    <a href="help.html">Get Help</a>
                </li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle cursorpointer">For Developers<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                  			<li class="cursorpointer">
                  			  <a href="https://canvas.instructure.com/courses/1164217">On-line class: Open source programming with IGB</a>
                  			</li>
                        <li class="cursorpointer">
                          <a href="https://jira.transvar.org/secure/RapidBoard.jspa?rapidView=11">IGB Kanban Board (Jira)</a>
                        </li>
                        <li class="cursorpointer">
                            <a href="http://bitbucket.org/lorainelab/integrated-genome-browser" class="external-link">Team repository on Bitbucket</a>
                        </li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="cyverse.html">CyVerse Data</a>
                </li> -->
            </ul>
            <!--div class="navbar-form btn-group">
                <a class="btn btn-primary" href="support.html"><strong>Write a support letter</strong> <i class="fa fa-envelope" style="margin-left: 8px"></i></a>
            </div-->
            <div class="navbar-form navbar-right btn-group">
                <a type="button" class="btn btn-custom btn-warning" href="download.html">
                    Download Now &nbsp;&nbsp;
                    <i class="fa fa-download"></i>
                </a>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<script src="js/ua-parser.min.js"></script>
<script src="bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>

<script>
    $(document).ready(function () {
        var currentPage = window.location.pathname.substr(5);
        $('.js-activated').dropdownHover().dropdown();
        if (currentPage == "download.html" || currentPage == "otherDownloads.html" || currentPage == "oldWebstartDownloads.html") {
            $('#downloadButton').hide();
        }

        var parser = new UAParser();
        var os = parser.getOS().name;
        var architecture = parser.getCPU();
        if (os == "Linux" || os == "CentOS" || os == "Fedora" || os == "FreeBSD" || os == "Debian" || os == "DragonFly" || os == "RedHat" || os == "Mint" || os == "GNU" || os == "Ubuntu") {
            $("#linuxDownloadMenu").removeClass("hide");
        }
        if (os == "Windows [Phone/Mobile]" || os == "Windows") {
            if (architecture == "amd64" || architecture == "ia64" || architecture == "arm64" || architecture == "irix64" || architecture == "mips64" || architecture == "sparc64") {
                $("#windows64DownloadMenu").removeClass("hide");
            } else {
                $("#windows64DownloadMenu").removeClass("hide");
                $("#windows32DownloadMenu").removeClass("hide");
            }
        }
        if (os == "Mac OS X" || os == "Mac OS") {
            $("#osxDownloadMenu").removeClass("hide");
        }
    });
    $("#linuxDownloadLink").click(function () {
        // // hope the server sets Content-Disposition: attachment!
        window.location = 'igb/releases/current/IGB_unix_current.sh';
    });
    $("#osxDownloadLink").click(function () {
        // // hope the server sets Content-Disposition: attachment!
        window.location = 'igb/releases/current/IGB_macos_current.dmg';
    });
    $("#windows64DownloadLink").click(function () {
        // // hope the server sets Content-Disposition: attachment!
        window.location = 'igb/releases/current/IGB_windows-x64_current.exe';
    });
    $("#windows32DownloadLink").click(function () {
        // // hope the server sets Content-Disposition: attachment!
        window.location = 'igb/releases/current/IGB_windows_current.exe';
    });
</script>
<script type="text/javascript" src="https://jira.transvar.org/s/d41d8cd98f00b204e9800998ecf8427e/en_US-pwbpt-1988229788/6265/4/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=b04cfbf9"></script>
<script type="text/javascript" src="https://jira.transvar.org/s/d41d8cd98f00b204e9800998ecf8427e/en_US-w52nn0-1988229788/6265/4/1.4.7/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?collectorId=b4dc1860"></script>
<script type="text/javascript">
        window.ATL_JQ_PAGE_PROPS = $.extend(window.ATL_JQ_PAGE_PROPS, {
            // ==== Feedback/bug Letter collector ====
            'b04cfbf9': {
                triggerFunction: function (showCollectorDialog) {
                    $('.reportBug').click(function (e) {
                        e.preventDefault();
                        showCollectorDialog();
                    });
                }
            }
            // ==== Support Letter collector ====
            , 'b4dc1860': {
                // === custom trigger function ===
                triggerFunction: function (showCollectorDialog) {
                    $('.supportBtn').click(function (e) {
                        e.preventDefault();
                        showCollectorDialog();
                    });
                },
                 fieldValues: {
                    summary: 'Support Letter'
                }
            }
        }
        );
</script>
